<div class="container">
    <div class="jumbotron title">
        <h1 class="display-4 text-center">Burger 2: The Sequel</h1>
        <div class="text-center">
            <img src="/assets/img/BurgerPngT.png" height="9%" width="9%">
        </div>
    </div>
    <div class="jumbotron">
        <div class="row">

            <div class="card-deck">
                <div class="col-sm card text-white bg-primary" style="width: 35rem;">
                    <div class="card-header">
                        <h3>Add a Burger:</h3>
                    </div>
                    <ul class="list-group list-group-flush">
                        <form id="addBurger">
                            <li id="addBurgerInput" class="list-group-item text-white bg-primary">
                                <input name="addBurgerInput" placeholder="What type of burger?" class="form-control"
                                    type="text" oninvalid="this.setCustomValidity('Enter a Burger!')"
                                    oninput="this.setCustomValidity('')" required>
                            </li>
                            <li id="burgerButton" class="list-group-item text-white bg-primary">
                                <button id="burgerButton" type="button" class="btn btn-success btn-lg text-white">Add
                                    Burger</button>
                            </li>
                            <li id="addCustomerName" class="list-group-item text-white bg-primary">
                                <input name="addCustomerName" placeholder="Customer Name?" class="form-control"
                                    type="text" oninvalid="this.setCustomValidity('Enter a customer name!')"
                                    oninput="this.setCustomValidity('')" required>
                            </li>
                            <li id="orderButton" class="list-group-item text-white bg-primary">
                                <button id="orderButton" type="submit" class="btn btn-success btn-lg text-white">Create
                                    Order!</button>
                            </li>
                        </form>
                    </ul>
                </div>


                <div class="col-sm card text-white bg-success" style="width: 35rem;">
                    <div class="card-header">
                        <h3>Burgers:</h3>
                    </div>
                    {{#each burgers}}
                    {{#unless this.dataValues.devoured}}
                    <li style="list-style-type:none">
                        <div id="updateBurger" class="text-white bg-info text-center">
                            <p>{{this.dataValues.id}}) {{this.dataValues.burger_name}}
                                <br> For: {{this.customer.dataValues.customer_name}}
                                <button id={{this.dataValues.id}}
                                    class="eatMe btn btn-lg btn-outline-warning text-white">Eat Me!</button>
                            </p>
                        </div>
                    </li>
                    {{/unless}}
                    {{/each}}

                </div>

                <div class="col-sm card text-white bg-dark" style="width: 35rem;">
                    <div class="card-header">
                        <h3>Eaten Burgers:</h3>
                    </div>
                    {{#each burgers}}
                    {{#if this.dataValues.devoured}}
                    <li style="list-style-type:none">
                        <div class="bg-danger text-center">
                            <p>{{this.dataValues.id}}) {{this.dataValues.burger_name}} <br>
                                Eaten By: {{this.customer.dataValues.customer_name}} </p>
                        </div>
                    </li>
                    {{/if}}
                    {{/each}}
                </div>

            </div>

        </div>
        <button id="clearBurgers" type="button" class="btn btn-danger btn-lg btn-block mt-5">Clear all Burgers!</button>

        <button id="clearCustomers" type="button" class="btn btn-danger btn-lg btn-block mt-3">Clear all
            Customers!</button>
    </div>
</div>